<form class="item-form" [formGroup]="itemForm" (ngSubmit)="submitForm()">
    <mat-form-field>
        <label for="item">Item Name</label>
        <input class="form-control" type="text" id="item" formControlName="item" placeholder="Item Name" required/>
    </mat-form-field>

    <div *ngIf="item.invalid && (item.dirty || item.touched)" class="alert alert-danger">
        <div *ngIf="item.errors?.['required']">
            Name is required.
        </div>
        <div *ngIf="item.errors?.['minlength']">
            Name must be at least 3 characters long.
        </div>
    </div>

    <mat-form-field >
        <mat-label>Frequency</mat-label>
        <select matNativeControl>
            <option value="One-Time Request">One-Time Request</option>
            <option value="Weekly">Weekly</option>
            <option value="Monthly">Monthly</option>
            <option value="Indefinitely">Indefinitely</option>
        </select>
    </mat-form-field>

    <mat-form-field class="bd-3">
        <mat-label>Store</mat-label>
        <select>
            <option value="Aldi">Aldi</option>
            <option value="Jewel Osco">Jewel Osco</option>
            <option value="Pete's Fresh Market">Pete's Fresh Market</option>
            <option value="Online">Online</option>
        </select>
    </mat-form-field>

</form>