<mat-toolbar>
   <h2>Grocery List</h2> 
</mat-toolbar>



<div class="allCards"> 
<mat-card>All Items:
  <mat-card-content *ngFor="let item of items$ | async">
   {{ item.item }}
  </mat-card-content>
</mat-card>
</div>

<mat-grid-list cols="2">
    <mat-grid-tile>
        <mat-card>
            All "One-Time Request" Items Here
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card>
            All "Weekly" Items Here
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card>
            "Monthly"
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card>
            "Indefinite"
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<!-- <table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>One</th>
            <th>Two</th>
            <th>Tres</th>
            <th>fork</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let item of items$ | async">
            
            <td>{{item.item}}</td>
            <td>{{item.store}}</td>
            <td>{{item.inStock}}</td>

            <td>
                <button class="btn btn-primary me-1" [routerLink]="['items/edit/', item._id]">Edit</button>
                <button class="btn btn-danger"  (click)="deleteItem(item._id || '')">Delete</button>
            </td>

        </tr>
    </tbody>

</table> -->
