.allCards{
    padding-top:3em;
    display: flex;
    flex-wrap: wrap;    
    flex-direction: column;
    align-content: center;

}

.card-contents{
    margin-bottom: 10px;
    padding:8px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:60%;
}

.mt-3 {
    padding: 0 0 0 30px;
}

button {
    margin-left:5px;
    padding: 0 2px 0 2px;
}