<div class="mt-3">
  <button color="primary" mat-raised-button routerLink="/groceries">Back</button>
</div>

<div class="allCards">

  All Items:
  <mat-card class="card-contents" *ngFor="let item of items$ | async">
    
    <div class="card-contents-item">
      {{ item.item }}
    </div>

    <div class="card-contents-inStock">
      {{ item.inStock === 0 ? "Out of Stock" : item.inStock }}
    </div>

    <div class="button-container">
      <button color="primary" mat-mini-fab>
        <mat-icon fontIcon="mode"/>
      </button>
      <button color="warn" mat-mini-fab >
        <mat-icon fontIcon="delete"/>
      </button>
    </div>

  </mat-card>
</div>
